html { height: 100%; }
body {
  height: 100%;
  display: flex;
  margin: 0;
}

.canvas {
  width: 90%;
  height: 100%;
  background-color: green;
  position: relative;
}

.road {
  width: 10%;
  height: 100%;
  background: darkgrey;
  left: 45%;
  position: absolute;
}

.road-horizontal {
  width: 100%;
  height: 10%;
  background-color: darkgrey;
  top: 45%;
  position: absolute;
}

.traffic-light {
  width: 40px;
  height: 120px;
  background: gray;
  border: 2px solid black;
  position: absolute;
}

.traffic-light.north {
  left: calc(55% - 10px);
  top: calc(45% - 210px);
}

.traffic-light.east {
  transform: rotate(90deg);
  right: calc(45% - 210px);
  top: calc(55% - 10px);
}

.traffic-light.south {
  transform: rotate(180deg);
  right: calc(55% - 10px);
  bottom: calc(45% - 210px);
}

.traffic-light.west {
  transform: rotate(270deg);
  left: calc(45% - 210px);
  bottom: calc(55% - 10px);
}

.traffic-light .round {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid black;
  filter: brightness(50%);
}
.traffic-light .round.red {
  background-color: red;
}
.traffic-light .round.yellow {
  background-color: yellow;
}
.traffic-light .round.green {
  background-color: lightgreen;
}
.traffic-light .round.active {
  filter: brightness(100%);
  transition: .3s
}

.traffic-light .rod {
  width: 10px;
  height: 80px;
  background-color: gray;
  margin-left: 15px
}

.controls {
  width: 10%;
}
.controls button {
  padding: 10px 20px;
}
